<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.itemis.com/mobile/physis/Physis" 
       class = "com.itemis.mobile.physis.physis.PhysisPackage"
       genModel = "com/itemis/mobile/physis/Physis.genmodel" /> 
	
  </extension>





</plugin>
